---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Menu from '../components/Menu.astro';
import StickyHeader from '../components/StickyHeader.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import Sidebar from '../components/Sidebar.astro';

const posts = await getCollection('posts');
const work = await getCollection('work');

const pinned = posts[0];
posts.sort((a, b) => +b.data.date - +a.data.date);
---

<BaseLayout>
  <div class="blog">
    <Menu />
    <StickyHeader
      title="barry burton"
    />

    <div class="blog-header-container">
      {
        work.map((item) => (
          <PortfolioItem
            title={item.data.title}
            date={item.data.date}
            cover={item.data.cover}
            summary={item.data.summary}
			order={item.data.order}
            href={`/work/${item.id}`}
          />
        ))
      }
    </div>

    <Sidebar entries={posts} />
  </div>
</BaseLayout>
