---
interface Props {
  title: string;
  date: Date;
  image: string;
  summary: string;
  order: number;
  href: string;
}

const { title, date, image, summary, order, href } = Astro.props;

const formatted = new Intl.DateTimeFormat('en-US', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
})
  .format(date)
  .replaceAll('/', '.');

---

<div class="blog-header">
  <a href={href}>
    <div class="blog-article">
      <img src={image} alt={title} />
      <h2 class="blog-article-title">{title}</h2>
      <div class="blog-article-summary">
        {summary}
      </div>
    </div>
  </a>
</div>
