---

interface Entry {
  data: {
    title: string;
    subtitle: string;
    date: Date;
	id: string
  };
}

interface Props {
  entries: Entry[];
  heading?: string;
  seeAllHref?: string;
}

const {
	entries,
	heading = 'Newsletter',
    subscribeLabel = 'Subscribe',
    subscribeHref = '/subscribe',
} = Astro.props;

const fmt = (d: Date) =>
  new Intl.DateTimeFormat('en-GB', {
    day: '2-digit',
    month: '2-digit',
    year: 'numeric',
  })
    .format(d)
    .replaceAll('/', '.');

const sorted = [...entries].sort((a, b) => +b.data.date - +a.data.date);
---

<div class="blog-part right-blog">
  <div class="blog-right-title-container">
    <div class="blog-right-title">{heading}</div>
	<a href={subscribeHref} class="blog-menu subscribe">{subscribeLabel}</a>
  </div>
  <div class="blog-right">
    {
      sorted.map((e) => (
        <div class="blog-right-container">
          <div class="blog-title-date">
                <div class="blog-right-page-title"><a href={`/newsletter/${e.id}`}>{e.data.title}</a></div>
            <div class="date">{fmt(e.data.date)}</div>
          </div>
        </div>
      ))
    }
  </div>
</div>
